{
	"extends": "xo",
    "plugins": [
        "prettier",
        "unicorn"
    ],
    "rules": {
        "complexity": "off",
        "import/extensions": "off",
        "indent": "off",
        "comma-dangle": "off",
        "curly": "off",
        "prettier/prettier": "off",
        "object-shorthand": "off",
        "operator-linebreak": "off",
        "max-params": "off",
        "arrow-parens": "off",
        "promise/prefer-await-to-then": "off",
        "unicorn/no-fn-reference-in-iterator": "off",
        "unicorn/no-reduce": "off",
        "unicorn/prefer-module": "off",
        "unicorn/prefer-node-protocol": "off"
    },
    "globals": {
      "test": "readonly",
      "expect": "readonly"
    }
}